/*estilo pelicula 1x1*/
body {
  background: #0f2027; 
  background: -webkit-linear-gradient(to right,#2c5364, #203a43, #0f2027);
  background: linear-gradient(to right,#2c5364, #203a43, #0f2027);
  margin: 20px;
  margin-right: 50px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}
/*estilo pelicula 1x1*/
.containericono {
  box-sizing: border-box;
  margin-top: 8%;
  margin-left:59%;
  display:grid ;
  grid-template-columns: 50px 50px;
  grid-template-rows: 30px 30px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.add {
    width: 50px;
}
.add:hover{
  transform: scale(1.1);
}
.containerpeli {
  box-sizing: border-box;
  display:grid ;
  margin-top: 5%;
  margin-left: 30%;
  grid-template-columns: 450px 450px;
  grid-template-rows: 300px 300px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.box1peli {
  background-color:#e53935;
  display:flex;
  color: azure;
  margin-left: 5%;
  margin-right: 0%;
  padding-top: 3%;
  padding-bottom: 3%;
  padding-left: 10%;
  padding-right: 10%;
}
.box2peli {
  display:flex;
  margin-left: 5%;
  margin-right: 0%;
  padding-left: 10%;
  padding-right: 10%;
}
/*******/
table, th, td {
  text-align: center;
  background: #9b1242;
  background: -webkit-linear-gradient(to right, #630e0d, #9b1242);
  background: linear-gradient(to right, #630e0d, #9b1242);
  border: 1px solid black;
  padding: 5px;
}
.tam {
  width: 150px;
  padding-left: 86px;
  padding-right: 86px;
  padding-top: 50px;
  padding-bottom: 25%;
  
}

